.main {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
}

.header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    padding: 1rem;
    border-bottom-left-radius: 10px;
    background-color: black;
}

.header-body, .header-link {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    justify-content: flex-start;
    width: fit-content;
    font-size: 1.8rem;
    color: aliceblue;
}

.header-link .logo {
    width: 3rem;
    height: 3rem;
    background-image: url('../assets/asc-s1.svg');
    background-size: cover;
}

.header-search {
    border: 1px solid #1e1e1e;
    margin-right: .5rem;
    min-width: 380px;
    display: flex;
    flex-flow: row nowrap;
    height: 2.3rem;
}

.header-search-button {
    font-weight: 600;
    padding: .4rem;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    outline: none;
    background-color: #0e619c;
}


.header-search-input {
    width: 100%;
    border: 0;
    padding: 0 .5rem;
    font-size: 1rem;
    outline: none;
    background-color: rgba(240, 248, 255, 0.7);
}

.header-search-input:focus {
    border: 0;
    outline: none;
}

.header-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 .5rem;
}

.header-title {
    font-weight: 700;
    color: aliceblue;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav .header-link {
    margin:  0 1rem;
    position: relative;
}

.total {
    font-size: .6rem;
    background-color: rgba(128, 128, 128, 0.8);
    height: 1.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    position: absolute;
    bottom: -.5rem;
    right: -.6rem;
}

.header-link:hover {
    color: white;
}

.header-nav .header-link:hover .total {
    color: black;
}
