.Social,
.post-list,
.post,
.post-header,
.post-header-left {
    display: flex;
}

.Social,
.post-list {
    align-items: center;
}

.Social {
    padding: 1rem 0;
}

.post {
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: .5rem;
    width: 65%;
    gap: 1rem;
}

.post-header,
.post-header-left {
    align-items: center;
    justify-content: space-between;
}



