.Social,
.post,
.post-left,
.post-body,
.post-header,
.post-header-left,
.post-header-img {
    display: flex;
}

.body-side-nav-link.social {
    background-color: aliceblue;
    color: black;
}

.Social {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    width: 100%;
    padding: 1rem 0;
}

.post {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.post > div {
    width: 40%;
}

.post-left, .post-body {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.post-left {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: .5rem;
    width: 100%;
    /* box-shadow: 2px 2px 2px #f5f5f5, -2px -2px 2px #f5f5f5; */
}

.post-header, .post-header-left {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: .2rem;
    width: 100%;
}

.post-header {
    border-bottom: 1px solid gray;
    padding-bottom: .5rem;
    border-radius: 5px;
}

.post-header-left {
    flex-wrap: nowrap;
    gap: .5rem;
    padding: 0;
    width: fit-content;
    justify-content: flex-start;
    font-weight: 600;
}

.post-header-img {
    height: 2.5rem;
    width: 2.5rem;
    padding: .3rem;
    border: 3px solid #1e1e1e;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.post-header-img img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.post-header-time {
    color: gray;
    font-style: oblique;
    font-size: .8rem;
}

.post-content {
    
}


