.Social,
.post-list,
.post,
.post-header,
.post-header-left,
.post-action-left,
.post-action-body,
.post-action-right {
    display: flex;
}

.Social,
.post-list {
    align-items: center;
}

.Social {
    padding: 1rem 0;
}

.post {
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: .5rem;
    width: 65%;
    gap: 1rem;
}

.post-header,
.post-header-left {
    align-items: center;
    justify-content: space-between;
}

.post-header-left {
    color: #1e1e1e;
}

.post-action-left {
    align-items: center;
    gap: 1rem;
}

.post-action-left > * {
    cursor: pointer;
}

.post-action-body {
    gap: .2rem;
}

.post-elt-count {
    color: crimson;
    font-size: .8rem;
    font-weight: 600;
    border-radius: 20px;
}

.post-action-right {
    align-items: center;
    gap: 1rem;
}


