.Profil {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 3rem;
}

.profil-personal,
.profil-location,
.skills,
.experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-list, .experiences-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding: 1rem 0;
}

.skills-list > div, .experiences-list > div {
    width: 48%;
}

.Profil h1 {
    font-size: 1.5rem;
    padding: .5rem;
    color: dodgerblue;
}

.profil-personal .top,
.profil-location .top,
.skills .top,
.experiences .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    padding: 1rem 0;
}

.profil-personal .top .left,
.profil-location .top .left,
.profil-location .top .right,
.experiences .top .left,
.experiences .top .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    width: 50%;
}

.profil-location .top .right,
.experiences .top .right {
    align-items: flex-end;
}

.profil-personal .top .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 50%;
}

.profil-personal .right img {
    width: 10rem;
    height: 10rem;
    border: 3px solid dodgerblue;
    border-radius: 50%;
    overflow: hidden;
}

.profil-personal .bottom,
.profil-location .bottom,
.skills .bottom,
.experiences .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 1rem 0;
}

.profil-personal .bottom textarea,
.experiences .top textarea,
.skills .bottom textarea {
    width: 100%;
    height: 10rem;
    border-radius: .5rem;
    padding: 1rem;
    resize: none;
    outline: none;
    border: 0;
    color: #1e1e1e;
    font-weight: 600;
}

.profil-personal .bottom .btn,
.profil-location .bottom .btn,
.experiences .bottom .btn,
.skills .bottom .btn {
    align-self: flex-end;
}


